@media screen and (min-width:1300px) {
    .movie {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }

    .grid-cont {
        border-radius: 12px;
    }

    .pad-0-md {
        padding: 0;
    }

    .pad-x-0-md {
        padding-left: 0;
        padding-right: 0;
    }

    .marg-0-md {
        margin: 0;
    }

    .w-90-md {
        width: 90%;
    }

    .grid-col-end-3-md {
        grid-column-end: 3;
    }

    .grid-col-start-1-md {
        grid-column-start: 1;
    }

    .grid-col-start-2-md {
        grid-column-start: 2;
    }

    .grid-row-start-1-md {
        grid-row-start: 1;
    }

    .grid-row-start-2-md {
        grid-row-start: 2;
    }

    .grid-row-start-3-md {
        grid-row-start: 3;
    }

    .grid-row-end-2-md {
        grid-row-end: 2;
    }

    .grid-row-end-3-md {
        grid-row-end: 3;
    }

    .hamburger>div {
        display: none;
    }

    .hidden-sm {
        display: initial;
    }

    .img-cover {
        max-width: 400px;
        max-height: 600px;
    }

    .grid-cols-2-md {
        grid-template-columns: repeat(2, auto);
    }

    .grid-row-unset-md {
        grid-row: unset;
    }


    .filter {
        grid-column: unset;
        position: relative;
        margin-top: 0;
    }

    .movies-section {
        grid-column-start: 3;
        grid-column-end: 4;
        margin-top: 0;
    }

    .main-section {
        grid-template-columns: 5% 25% 70%;
    }

    .header-section {
        grid-column-start: 1;
        grid-column-end: 5;
        position: relative;
    }

    .filter {
        grid-column: 2;
    }
}

@media only screen and (min-width:1440px) {
    .main-section {
        grid-template-columns: 10% 20% 60%;
    }
}