:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  --primary-color: #595959;
  --secondary-color: #a5c4d4;
  --thertiary-color: #fcd581;
  --quaternary-color: #b185a7;
  --quinary-color: #799aaa;

  --animation-duration: 500ms;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: fit-content;
  min-height: 100vh;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a:hover {
  color: #747bff;
}

.flex-1 {
  flex: 1;
}

.slide-out-left {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: transform var(--animation-duration) ease, visibility 0.1s var(--animation-duration), opacity var(--animation-duration);
}

.slide-out-right {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform var(--animation-duration) ease, visibility 0.1s var(--animation-duration), opacity var(--animation-duration);
}

.slide-in-right {
  animation: slide-from-right var(--animation-duration);
}

.slide-in-left {
  animation: slide-from-left var(--animation-duration);
}

.slide-in-top {
  animation: slide-from-top var(--animation-duration)
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
    opacity: 0.3;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
    opacity: 0.3;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-from-top {
  from {
    transform: translateY(-100%);
    opacity: 0.3;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.flex-center {
  justify-content: center;
  align-content: center;
}

.grid-cont {
  display: grid;
  justify-items: center;
  align-items: start;
  align-content: baseline;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.movies-section {
  display: block;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 3.5rem;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.shadowed {
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 1);
}

.grid-cols-1 {
  grid-template-columns: 1 1fr;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, auto);
}

.bg-1 {
  background-color: var(--primary-color);
}

.bg-2 {
  background-color: var(--secondary-color);
}

.bg-3 {
  background-color: var(--thertiary-color);
}

.bg-4 {
  background-color: var(--quaternary-color);
}

.bg-5 {
  background-color: var(--quinary-color);
}

.title {
  font-size: larger;
  font-weight: bolder;
}

.text-header {
  font-weight: bold;
}

.img-cover {
  margin: 5px;
  max-width: 200px;
  max-height: 300px;
}

.inline-flex {
  display: inline-flex;
}

.header-section {
  width: 100%;
  min-width: 30px;
  background-color: var(--secondary-color);
  grid-column-start: 1;
  grid-column-end: 3;
  position: fixed;
  height: 4rem;
  align-items: center;
  z-index: 9999;
}

.header-search {
  margin: 1rem;
  min-width: 25%;
  border-radius: 50px;
  min-height: 30px;
  border-color: var(--primary-color);
}

#root {
  width: 100%;
  gap: 8px;
  align-self: self-start;
}

input {
  border-radius: 6px;
  padding: 5px;
  font-weight: 600;
  color: var(--primary-color);
  text-align: center;
}

.fit-content {
  width: fit-content;
}

.flex-cont {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.dropdown {
  position: absolute;
  background-color: var(--quinary-color);
  margin-top: 3.3rem;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 2000;
}

.drop-item {
  border-radius: 6px;
  padding: 4px;
}

.drop-item:hover {
  background-color: var(--secondary-color);
}

.gap-5px {
  gap: 5px;
}

.pad-5px {
  padding: 5px;
}

.pad-x-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.br-6px {
  border-radius: 6px;
}

.br-12px {
  border-radius: 12px;
}

.marg-2px {
  margin: 2px;
}

.marg-0 {
  margin: 0;
}

.marg-1 {
  margin: 1rem;
}

.marg-b-05 {
  margin-bottom: 0.5rem;
}

.pad-0 {
  padding: 0;
}

.pad-05 {
  padding: 0.5rem;
}

.pad-1 {
  padding: 1rem;
}

.grid {
  display: grid;
}

.grid-row-1 {
  grid-row: 1;
}

.grid-row-3 {
  grid-row: 3;
}


.grid-row-start-1 {
  grid-row-start: 1;
}

.grid-row-start-2 {
  grid-row-start: 2;
}

.grid-col-1 {
  grid-column: 1;
}

.grid-col-2 {
  grid-column: 2;
}

.justify-items-right {
  justify-items: right;
}

.justify-content-space-around {
  justify-content: space-around;
}

.text-align-justify {
  text-align: justify;
}

.hamburger {
  display: inline-block;
  padding: 6px;
  margin: 3px;
  border-radius: 50%;
  align-self: center;
}

.hamburger>div {
  width: 32px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 5px 0;
  transition: width 0.3s ease-in;
}

.hamburger.toggled>div:nth-of-type(2) {
  width: 24px;
}

.hamburger.toggled>div:nth-of-type(3) {
  width: 18px;
}

.filter {
  grid-column-start: 1;
  grid-column-end: 3;
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 3.5rem;
  background-color: var(--primary-color);
}

.hidden-sm {
  display: none;
}

.toggled-off {
  height: fit-content;
}

.toggled-off>* {
  height: 0;
  opacity: 0;
  transition: height var(--animation-duration);
}

.toggled-on>* {
  opacity: 1;
  height: initial;
  transition: height var(--animation-duration), opacity .8s;
}

.fa-caret-down {
  transition: rotate var(--animation-duration);
}

.rotated {
  rotate: 180deg;
}

.scale-1:hover {
  transform: scale(1.05);
  transition: all 300ms;
}