name: Provision on push
on:
  push:
    branches:
      - main
jobs:
  test_backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"

      - name: Install deps
        run: go get ./...

      - name: run tests
        run: go test -v ./...
