name: Provision on push
on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"

      - name: Install deps
        run: go get ./...

      - name: Create config file
        run: |
          echo {\"username\": \"$ZAMUNDA_USERNAME\",\"password\": \"$ZAMUNDA_PASSWORD\",\"workers\": 1,\"pageSize\": 10} > ./cmd/config_test.json
        env:
          ZAMUNDA_USERNAME: ${{ secrets.ZAMUNDA_USERNAME }}
          ZAMUNDA_PASSWORD: ${{ secrets.ZAMUNDA_PASSWORD }}

      - name: run tests
        run: go test -v ./...
        env:
          CI: 1

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1.7.0
        with:
          role-to-assume: ${{ vars.AWS_DEPLOY_ROLE}}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ vars.AWS_REGION }}

      - name: Deploy
        run: aws ssm send-command --instance-ids ${{ vars.INSTANCE_ID }} --document-name "${{ vars.SSM_DOC_NAME }}"
